_assets/ERI-PAXLST/0.1/paxlst_v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by peter (peter) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by J. van Gils (Ministerie van Verkeer en Waterstaat) -->
<!-- ============================================================================================== -->
<!-- PAXLST. -->
<!-- -->
<!-- Journaal, Releasenotes: -->
<!-- -->
<!-- v0.0 PFO  	2011: Initial version   -->
<!--  -->
<!-- -->
<!--  -->
<!-- ============================================================================================== -->
<xs:schema targetNamespace="http://www.risexpertgroups.org/IFTSAI1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.risexpertgroups.org/IFTSAI1.0">
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PersonType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:sequence>
					<xs:element name="GivenNames">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FamilyName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NamePrefix" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Address" type="xs:string" minOccurs="0"/>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="9"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Nationality" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ISO3166-1</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Rank" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:sequence>
					<xs:element name="BirthDate" type="xs:date"/>
					<xs:element name="PlaceOfBirthName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="70"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="IdentityDocType">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:minLength value="2"/>
								<xs:enumeration value="39"/>
								<xs:enumeration value="36"/>
								<xs:enumeration value="SMB"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="IdentityDocNr">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="IdentityDocExpireDate" type="xs:date"/>
				</xs:sequence>
				<xs:element name="CrewRemarks" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Add remarks for specified person</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAXLST">
		<xs:annotation>
			<xs:documentation>ERI PAXLST based on the EDIFACT PAXLST 1.0</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageId" type="MessageIdType"/>
				<xs:element name="EDIMapping">
					<xs:annotation>
						<xs:documentation>r</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Syntax" default="UNOC">
								<xs:annotation>
									<xs:documentation>UNB/S0001/0001</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UNOC"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SyntaxVersion" default="2">
								<xs:annotation>
									<xs:documentation>UNB/S001/0002</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageType">
								<xs:annotation>
									<xs:documentation>UNH/S009/0065</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="IFTSAI"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageVersion">
								<xs:annotation>
									<xs:documentation>UNH/S009/0052</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="D"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageRelease">
								<xs:annotation>
									<xs:documentation>UNH/S009/0054</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="04B"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageControllingAgency">
								<xs:annotation>
									<xs:documentation>UNH/S009/0051</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UN"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssociationAssignedCode">
								<xs:annotation>
									<xs:documentation>UNH/S009/0057</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="1.0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrivacyStatement" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="Y"/>
							<xs:enumeration value="N"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reference to previous message</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TestScenarioRef" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VoyageInformation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentIssueDate" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>DTM  Notification date</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Transport">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransportDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VoyageNo" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMeans">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Vessel" type="VesselType"/>
										<xs:element name="VesselName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nationality">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="StageQualifier" type="xs:string" use="required" fixed="20"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransportInformation" minOccurs="0"/>
							<xs:element name="TransportLocations">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlaceOfDeparture" type="LocationType"/>
										<xs:element name="PortOfDestination" type="LocationType"/>
										<xs:element name="ETD" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="ETA" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="LastPortOfCall" type="LocationType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Personlist">
								<xs:annotation>
									<xs:documentation>Persons Dataelements incl crewlist</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Person" minOccurs="0" maxOccurs="9999"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="VersionMajor" type="xs:integer" use="required"/>
			<xs:attribute name="VersionMinor" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MessageIdType">
		<xs:sequence>
			<xs:element name="SenderId">
				<xs:annotation>
					<xs:documentation>UNB/S002/0004</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverId">
				<xs:annotation>
					<xs:documentation>UNB/S003/010</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GenerationDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UNB/S004/0017and0018</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AckRequest" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNB/0031</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TestIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNB/0035</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>FTX(1/ABM)/C107/4441</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="PLA"/>
						<xs:enumeration value="NAV"/>
						<xs:enumeration value="CAN"/>
						<xs:enumeration value="GIV"/>
						<xs:enumeration value="MOO"/>
						<xs:enumeration value="UND"/>
						<xs:enumeration value="ARR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageNo">
				<xs:annotation>
					<xs:documentation>UNB/0020</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageFunction">
				<xs:annotation>
					<xs:documentation>BGM/1225      9 = new message 5 = modification </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonDenominator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNH/S009/0068          RefNo to group several msgs of same journey</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselType">
		<xs:sequence>
			<xs:element name="VesselId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselIDType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="OFS"/>
						<xs:enumeration value="ERN"/>
						<xs:enumeration value="IMO"/>
						<xs:enumeration value="ENI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:sequence minOccurs="0">
			<xs:element name="Locode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocationName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerminalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerminalName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FairwaySectionCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FairwayHectometre" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAddressType">
		<xs:sequence>
			<xs:element name="PartyFunction">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="MS"/>
						<xs:enumeration value="MR"/>
						<xs:enumeration value="CG"/>
						<xs:enumeration value="SF"/>
						<xs:enumeration value="ST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartyId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartyName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommsContactType">
		<xs:sequence>
			<xs:element name="CommsNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsChannel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="TE"/>
						<xs:enumeration value="FX"/>
						<xs:enumeration value="EM"/>
						<xs:enumeration value="EI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportDimensionsType">
		<xs:sequence>
			<xs:element name="Length">
				<xs:annotation>
					<xs:documentation>Dims in cm</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Width">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Draught">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tonnage">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Airdraft" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0000"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="ContactInformation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsContact" type="CommsContactType" minOccurs="0" maxOccurs="4"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
