docs/ERI_erivoy_message/erivoy_v0.5_rc3_COMEX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Kian Tan (MY Solutions B.V.) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by J. van Gils (Ministerie van Verkeer en Waterstaat) -->
<!-- ============================================================================================== -->
<!-- ERIVOYT is the XML Route planning based on the IFTSAI  PROT1.0 edifact msg. -->
<!-- -->
<!-- Journaal, Releasenotes: -->
<!-- -->
<!--  v0.0 PFO  	2011: Initial version   -->
<!--  v0.1 ERI 2012? -->
<!--  v0.2 MvD, KT, May 2013-->
<!--		Added annotation to 'No representation in Edifact' to <PrivacyStatement> -->
<!--		Added annotation 'FTX segm grp 4' to <Signalling> -->
<!-- 		Changed element <GenerealInformationAboutTheVoyage> into <GeneralInformation> and added child elements-->
<!--		Added annotation to <CargoInformation> -->
<!--       Modified several enumerations-->
<!--       Fixed several copy-paste errors-->
<!--       Elaborated on some datetime elements -->
<!--       Elaborated on NameAddress-->
<!--       Extended TransportDimensionsType-->
<!--  v0.3 MvD, KT, Sept 2013-->
<!--       -->
<!--  v0.4 MvD, KT, Feb 2013-->
<!--      Made <ContactInformation> optional in line with Edifact definitions -->
<!--       Adjusted MaxLength of <LocationName> from 17 to 35 in line with Edifact definitions-->
<!--  -->
<!-- v0.5 ALSIC, Dec 2019 
			Added support for HIN number
			Made Nationality optional. Is not always known
			Restructured TransportLocations - introduced RoutePoint
      Updated and added some documentation
      Added MMSI number of sailing vessel to improve mapping of information.
      Changed default namespace in order to destinguish different versions of the XSD.
      Removed maxOccurs of 4 of routeinformation - Only one status of a voyage can be given at a time.
      Removed OFS and ERN obsolete
-->
<!-- ============================================================================================== -->
<xs:schema targetNamespace="http://www.risexpertgroups.org/IFTSAI1.0/xsd/0.5" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.risexpertgroups.org/IFTSAI1.0/xsd/0.5">
	<xs:element name="ERIVOY">
		<xs:annotation>
			<xs:documentation>ERI Voyage bases the EDIFACT IFTSAI 1.0</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageId" type="MessageIdType"/>
				<xs:element name="EDIMapping">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Syntax">
								<xs:annotation>
									<xs:documentation>UNB/S0001/0001</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UNOC"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SyntaxVersion">
								<xs:annotation>
									<xs:documentation>UNB/S001/0002</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageType">
								<xs:annotation>
									<xs:documentation>UNH/S009/0065</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="IFTSAI"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageVersion">
								<xs:annotation>
									<xs:documentation>UNH/S009/0052</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="D"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageRelease">
								<xs:annotation>
									<xs:documentation>UNH/S009/0054</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="04B"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageControllingAgency">
								<xs:annotation>
									<xs:documentation>UNH/S009/0051</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UN"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssociationAssignedCode">
								<xs:annotation>
									<xs:documentation>UNH/S009/0057</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrivacyStatement" minOccurs="0">
					<xs:annotation>
						<xs:documentation>No representation in Edifact</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="Y"/>
							<xs:enumeration value="N"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>RFF/C506/1154Reference to previous message</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VoyageInformation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentIssueDate" type="xs:dateTime"/>
							<xs:element name="SafetyExplanation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Signalling" minOccurs="0">
											<xs:annotation>
												<xs:documentation>FTX segm grp 4</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="B"/>
													<xs:enumeration value="V"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PersonsOnBoard" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Total number of persons on board. Crew and Pax.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AnimalsOnBoard" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PersonsInTransit" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- V0.5 Removed maxOccurs of 4 - Only one status of a voyage can be given at a time. -->
							<xs:element name="RoutingInformation" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
                    General information on the voyage of the vessel and the status of the vessel.
                  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StatusCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="PLA">
														<xs:annotation>
															<xs:documentation>
                                Planned
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="NAV">
														<xs:annotation>
															<xs:documentation>
                                Navigating / underway
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="CAN">
														<xs:annotation>
															<xs:documentation>
                                Cancelled because of a change in schedule
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="GIV">
														<xs:annotation>
															<xs:documentation>
                                General info vessel
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="MOO">
														<xs:annotation>
															<xs:documentation>
                                Moored
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="UND">
														<xs:annotation>
															<xs:documentation>
                                Date – Time of Underway (DD:HH active sailing time ) -> additional information needs to be filled in the field AdditionalInformation
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="ARR">
														<xs:annotation>
															<xs:documentation>
                                Arrived
                              </xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GeneralInformation" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
                          General information concerning the voyage.
                        </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="512"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AdditionalInformation" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
                          Additional information
                          In case UND the following format is used : DD:HH
                          (e.g. 02:23 means 2 days and 23 hours active sailing time)
                        </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="512"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CargoInformation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Subject" maxOccurs="5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InformationCode1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="DGN"/>
																<xs:enumeration value="ACB"/>
																<xs:enumeration value="DGY"/>
																<xs:enumeration value="NCC"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="InformationCode2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="CGS"/>
																<xs:enumeration value="0"/>
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
																<xs:enumeration value="3"/>
																<xs:enumeration value="V"/>
																<xs:enumeration value="B"/>
																<xs:enumeration value="WEX"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AdditionalInformation" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="512"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="SubjectIndicator">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ACB"/>
															<xs:enumeration value="HAZ"/>
															<xs:enumeration value="AAA"/>
															<xs:enumeration value="WAS"/>
															<xs:enumeration value="NON"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NavigationRegime" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ActivePeriod" type="xs:string" minOccurs="0"/>
										<xs:element name="SailingRegime" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="A1"/>
													<xs:enumeration value="A2"/>
													<xs:enumeration value="B"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NonWorkingDays" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
                          List of non working days for the vessel. List of possible values: MO,TU,WE,TH,FR,SA,SU. Multiple values are seperated by -
                          Example: MO-DI-WE
                        </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TestScenarioRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Needs to be filled in if the messages belongs to a test.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Transport">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransportDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VoyageNo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMeans">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Vessel" type="VesselType"/>
										<xs:element name="VesselName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- V0.5 Nationality is not always known -->
										<xs:element name="Nationality" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="StageQualifier" type="xs:string" use="required" fixed="20"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransportDimensions" type="TransportDimensionsType" minOccurs="0"/>
							<!-- v0.5 Restructured this type to work with RoutePointTypes which consists of ISRS code and timing information.-->
							<xs:element name="TransportLocations">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlaceOfDeparture" type="RoutePointType"/>
										<xs:element name="RoutePoint" type="RoutePointType" minOccurs="0" maxOccurs="999">
											<xs:annotation>
												<xs:documentation>List of route points to make the voyage route unambigously. This should consist of important nodes, bridges and locks. The sequence order should be chronological.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PortOfDestination" type="RoutePointType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NameAddress">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MessageSender" type="NameAddressType" minOccurs="0"/>
							<xs:element name="CarriersAgent" type="NameAddressType" minOccurs="0"/>
							<xs:element name="VesselCaptain" type="NameAddressType" minOccurs="0"/>
							<xs:element name="AuthorisedOfficial" type="NameAddressType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Barges">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Barge" maxOccurs="19">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BargeId" type="VesselType"/>
										<xs:element name="BargeType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BargeName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EquipmentType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:enumeration value="BRY"/>
													<xs:enumeration value="BRN"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BargeDimensions" type="TransportDimensionsType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Dimensions of the individual barge</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="VersionMajor" type="xs:integer" use="required"/>
			<xs:attribute name="VersionMinor" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MessageIdType">
		<xs:sequence>
			<xs:element name="SenderId">
				<xs:annotation>
					<xs:documentation>UNB/S002/0004</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverId">
				<xs:annotation>
					<xs:documentation>UNB/S003/010</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GenerationDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UNB/S004/0017and0018</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AckRequest" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BGM/4343</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TestIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNB/0035</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>BGM/C002/1001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="404"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageNo">
				<xs:annotation>
					<xs:documentation>UNB/0020</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageFunction">
				<xs:annotation>
					<xs:documentation>BGM/1225      1 = Cancellation 9 = new message 5 = Modification message by replacement 8=statusupdate</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonDenominator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNH/S009/0068          RefNo to group several msgs of same journey</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselType">
		<xs:sequence>
			<xs:element name="VesselId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7"/>
						<xs:maxLength value="14"/>
						<!-- v0.5 Changed from 8 to 14 for HIN number support -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselIDType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="IMO"/>
						<xs:enumeration value="ENI"/>
						<xs:enumeration value="HIN"/>
						<!-- v0.5 Used for identification of recreational vessels -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- v0.5 Added MMSI number of sailing vessel to improve mapping of information. -->
			<xs:element name="MMSI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is usefull to include the MMSI number of the sailing vessel to ease the mapping of ERI messages with AIS track information.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAddressType">
		<xs:sequence>
			<xs:element name="PartyId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartyName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact" type="ContactType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommsContactType">
		<xs:sequence>
			<xs:element name="CommsNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsChannel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="TE"/>
						<xs:enumeration value="FX"/>
						<xs:enumeration value="EM"/>
						<xs:enumeration value="EI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportDimensionsType">
		<xs:sequence>
			<xs:element name="GrossTonnage" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TNE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="NettoTonnage" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TNE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Length" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Width" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Draught" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Airdraft" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AverageSpeed" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="KNO"/>
										<xs:enumeration value="KMU"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="ContactInformation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsContact" type="CommsContactType" minOccurs="0" maxOccurs="4"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V0.5 new type RoutePointType-->
	<xs:complexType name="RoutePointType">
		<xs:annotation>
			<xs:documentation>Point information using ISRS codes from the RIS Index. Timing information is given by filling in ETD, ATD, ETA, ATA. 
					ETD and ATD is not required for waypoints.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ISRS">
				<xs:annotation>
					<xs:documentation>
            ISRS code (unique identifier for a location) as known in the combined RIS-Indexes
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ETD" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Estimated time of Departure (UTC)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETA" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Estimated time of Arrival (UTC)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ATD" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Actual time of Departure (UTC)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ATA" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Actual time of Arrival (UTC)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Activity" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Conveyance Call</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationPeriod" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Activity period date range (In case a period of time needs to be given e.g. lockplanning)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnDemand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            In case status on demand is applicable (In case bridges and/or locks are not always manned. ) 
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>all (passing anyway regardless of the costs)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>all free(Passing only if no costs)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>normal only(Passing whenever possible)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
