docs/File/420/xml_scheme_v3_0_ccnr_standard_edition_2xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================== -->
<!-- Notices to Skippers XSD used to distribute info about fairways or objects on a fairway -->
<!-- Notices can be: -->
<!-- - frm = Fairway related messages, nautical notices to the skippers related to fairways and or objects on fairways -->
<!-- - wrm = Water related messages, info about water levels etc. related to objects on fairways -->
<!-- - icem = Ice related messages, info about ice conditions on a fairway -->
<!-- - werm = Weather related messages, info about weather (wind, rain etc.) conditions on a fairway -->
<!-- -->
<!-- Journaal, Release notes: -->
<!-- -->
<!-- v2.7   sep 2006:  First release  -->
<!-- v2.8   may 2007:  Weather related message section added -->
<!--     Changes: -->
<!--      Added <werm> section. -->
<!--      Added Choice option for <frm>, <wrm>, <icem>, <werm> sections. -->
<!--      Changed: <frm>, <wrm>, <icem>, <werm> sections to mandatory (choice)  -->
<!--      Changed: <RIS_Message\Identification> => <identification> (corrected tag to lowercase) -->
<!-- v2.8.1  NTS Expert Group (Dec 2007) 
	  CR 003  <xs:element name="name"> instead of <xs:element name="name" maxOccurs="2">
	  CR 011  use of <xs:date>   <xs:time> for date / time elements
	  CR 015  <xs:element name="value" type="xs:float" minOccurs="0"/> instead of <xs:element name="value" type="xs:float"/>
	  CR 022  add <xs:enumeration value="NOM"/> to enumeration of the measure_code = no measurement
	  CR 029  add <xs:enumeration value="SLI"/> to the enumeration of the type_code = ship lift
	  CR 030  add <xs:enumeration value="TURNIN"/> to the enumeration of the limitation_code and subject_code = no turning
	  CR 031  add <xs:enumeration value="LOA"/> to the enumeration of the target_group = loaded vessel -->
<!-- v2.8.2 apr 2008: structural changes to the schema, preserving the content model -->
<!--        may 2008: addition of three optional attributes in RIS_Message_Type for paging mechanism -->
<!-- v3.0  NTS Expert Group (Nov 2008)
	CR 043 add <xs:enumeration value="NOSHORE"/> into enumeration limitation_code_enum
	CR 046 add <xs:enumeration value="CONBRE"/> into enumeration limitation_code_enum
	CR 047 add <xs:enumeration value="CONLEN"/> into enumeration limitation_code_enum
 	CR 053 add <xs:enumeration value="LO"/> into enumeration regime_code_enum
	CR 056 add <xs:enumeration value="CONBRE"/> into enumeration subject_code_enum
	CR 057 add <xs:enumeration value="CONLEN"/> into enumeration subject_code_enum
	CR 059 add <xs:enumeration value="REMOBJ"/> into enumeration subject_code_enum
	CR 060 add <xs:enumeration value="SMA"/> into enumeration target_group_code_enum
	CR 061 add <xs:enumeration value="CND"/> into enumeration target_group_code_enum
	CR 062 add <xs:enumeration value="DUK"/> into enumeration type_code_enum
	CR 067 add <xs:enumeration value="VTC"/> into enumeration type_code_enum
	CR 070 add <xs:enumeration value="STRIKE"/>, <xs:enumeration value="FLOMAT"/>, <xs:enumeration value="EXPLOS"/> into enumeration reason_code_enum
-->
<!-- =================================================================================== -->
<xs:schema xmlns:nts="www.ccr-zkr.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.ccr-zkr.org" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<!--
  ===========================================
  = definition of main element RIS_Message  =
  = and corresponding type RIS_Message_Type =
  ===========================================
  -->
	<xs:element name="RIS_Message" type="nts:RIS_Message_Type">
		<xs:annotation>
			<xs:documentation>River Information Service Message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RIS_Message_Type">
		<xs:sequence>
			<xs:element name="identification" type="nts:identification_type">
				<xs:annotation>
					<xs:documentation>Identification section</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>One msg contains one of these sections</xs:documentation>
				</xs:annotation>
				<xs:element name="ftm" type="nts:ftm_type" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Fairway and traffic related message section</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="wrm" type="nts:wrm_type" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Water related message section</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="icem" type="nts:icem_type" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Ice related message section</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="werm" type="nts:werm_type" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Weather related message section</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--
  ==========================================
  = definition of identification_type,     =
  = used in definition of RIS_Message_Type =
  ==========================================
  -->
	<xs:complexType name="identification_type">
		<xs:sequence>
			<xs:element name="from">
				<xs:annotation>
					<xs:documentation>Sender of the message</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originator">
				<xs:annotation>
					<xs:documentation>Originator (initiator) of the information in this message</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="country_code" type="nts:country_code_enum">
				<xs:annotation>
					<xs:documentation>Country where message is valid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language_code" type="nts:language_code_enum">
				<xs:annotation>
					<xs:documentation>Original language used in the textual information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="district" minOccurs="0">
				<xs:annotation>
					<xs:documentation>District / Region within the specified country</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="date_issue" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of editing including timezone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_issue" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time of editing including timezone</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
  ===================================================
  = types used in definition of identification_type =
  ===================================================
  -->
	<xs:simpleType name="country_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="UA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="language_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="DA"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="EL"/>
			<xs:enumeration value="SL"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
  ==========================================
  = definition of ftm_type,                =
  = used in definition of RIS_Message_Type =
  ==========================================
  -->
	<xs:complexType name="ftm_type">
		<xs:sequence>
			<xs:element name="year">
				<xs:annotation>
					<xs:documentation>Year of the notice</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gYear">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number">
				<xs:annotation>
					<xs:documentation>Sequence number of the notice in given year</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0000"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serial_number">
				<xs:annotation>
					<xs:documentation>Serial number for replacements and withdrawals</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="00"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="target_group" type="nts:target_group_type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Target group information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subject_code" type="nts:subject_code_enum">
				<xs:annotation>
					<xs:documentation>Subject code contains the most important limitation code, if multiple limitations are valid, the subject code is the limitation code with the highest impact on shipping traffic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity_period" type="nts:validity_period_type"/>
			<xs:element name="contents" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Textual contents in the original language</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="source" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Notice source (authority)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reason_code" type="nts:reason_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reason / justification of the notice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communication" type="nts:communication_type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Communication channel information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fairway_section" type="nts:fairway_section_type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fairway section</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="object" type="nts:object_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
  ========================================
  = types used in definition of ftm_type =
  ========================================
  -->
	<xs:complexType name="target_group_type">
		<xs:sequence>
			<xs:element name="target_group_code" type="nts:target_group_code_enum" default="ALL">
				<xs:annotation>
					<xs:documentation>Target group code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction_code" type="nts:direction_code_enum" default="ALL">
				<xs:annotation>
					<xs:documentation>Upstream or downstream traffic</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="target_group_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="CDG"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="PAX"/>
			<xs:enumeration value="PLE"/>
			<xs:enumeration value="CNV"/>
			<xs:enumeration value="PUS"/>
			<xs:enumeration value="NNU"/>
			<xs:enumeration value="LOA"/>
			<xs:enumeration value="SMA"/>
			<xs:enumeration value="CND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="direction_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="UPS"/>
			<xs:enumeration value="DWN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subject_code_enum">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="6"/>
			<xs:enumeration value="OBSTRU"/>
			<xs:enumeration value="PAROBS"/>
			<xs:enumeration value="DELAY"/>
			<xs:enumeration value="VESLEN"/>
			<xs:enumeration value="VESHEI"/>
			<xs:enumeration value="VESBRE"/>
			<xs:enumeration value="VESDRA"/>
			<xs:enumeration value="AVALEN"/>
			<xs:enumeration value="CLEHEI"/>
			<xs:enumeration value="CLEWID"/>
			<xs:enumeration value="AVADEP"/>
			<xs:enumeration value="NOMOOR"/>
			<xs:enumeration value="SERVIC"/>
			<xs:enumeration value="NOSERV"/>
			<xs:enumeration value="SPEED"/>
			<xs:enumeration value="WAVWAS"/>
			<xs:enumeration value="PASSIN"/>
			<xs:enumeration value="ANCHOR"/>
			<xs:enumeration value="OVRTAK"/>
			<xs:enumeration value="MINPWR"/>
			<xs:enumeration value="DREDGE"/>
			<xs:enumeration value="WORK"/>
			<xs:enumeration value="EVENT"/>
			<xs:enumeration value="CHGMAR"/>
			<xs:enumeration value="CHGSER"/>
			<xs:enumeration value="SPCMAR"/>
			<xs:enumeration value="EXERC"/>
			<xs:enumeration value="LEADEP"/>
			<xs:enumeration value="LEVDEC"/>
			<xs:enumeration value="LEVRIS"/>
			<xs:enumeration value="ANNOUN"/>
			<xs:enumeration value="LIMITA"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="MISECH"/>
			<xs:enumeration value="ECDISU"/>
			<xs:enumeration value="NEWOBJ"/>
			<xs:enumeration value="WARNIN"/>
			<xs:enumeration value="CHWWY"/>
			<xs:enumeration value="CONWWY"/>
			<xs:enumeration value="DIVER"/>
			<xs:enumeration value="SPECTR"/>
			<xs:enumeration value="LOCRUL"/>
			<xs:enumeration value="VHFCOV"/>
			<xs:enumeration value="HIGVOL"/>
			<xs:enumeration value="TURNIN"/>
			<xs:enumeration value="CONBRE"/>
			<xs:enumeration value="CONLEN"/>
			<xs:enumeration value="REMOBJ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reason_code_enum">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="6"/>
			<xs:enumeration value="EVENT"/>
			<xs:enumeration value="WORK"/>
			<xs:enumeration value="DREDGE"/>
			<xs:enumeration value="EXERC"/>
			<xs:enumeration value="HIGWAT"/>
			<xs:enumeration value="HIWAI"/>
			<xs:enumeration value="HIWAII"/>
			<xs:enumeration value="LOWWAT"/>
			<xs:enumeration value="SHALLO"/>
			<xs:enumeration value="CALAMI"/>
			<xs:enumeration value="LAUNCH"/>
			<xs:enumeration value="DECLEV"/>
			<xs:enumeration value="FLOMEA"/>
			<xs:enumeration value="BLDWRK"/>
			<xs:enumeration value="REPAIR"/>
			<xs:enumeration value="INSPEC"/>
			<xs:enumeration value="FIRWRK"/>
			<xs:enumeration value="LIMITA"/>
			<xs:enumeration value="CHGFWY"/>
			<xs:enumeration value="CONSTR"/>
			<xs:enumeration value="DIVING"/>
			<xs:enumeration value="SPECTR"/>
			<xs:enumeration value="EXT"/>
			<xs:enumeration value="MIN"/>
			<xs:enumeration value="SOUND"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="INFSER"/>
			<xs:enumeration value="STRIKE"/>
			<xs:enumeration value="FLOMAT"/>
			<xs:enumeration value="EXPLOS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="communication_type">
		<xs:sequence>
			<xs:element name="reporting_code" type="nts:reporting_code_enum">
				<xs:annotation>
					<xs:documentation>Reporting regime (information, or duty to report)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communication_code" type="nts:communication_code_enum">
				<xs:annotation>
					<xs:documentation>Communication type code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Communication number, Telephone number, VHF channel, e-mail address, URL, teletext page number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="reporting_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="INF"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="REG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="communication_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="TEL"/>
			<xs:enumeration value="VHF"/>
			<xs:enumeration value="EM"/>
			<xs:enumeration value="INT"/>
			<xs:enumeration value="TXT"/>
			<xs:enumeration value="FAX"/>
			<xs:enumeration value="LIG"/>
			<xs:enumeration value="FLA"/>
			<xs:enumeration value="SOU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="object_type">
		<xs:sequence>
			<xs:element name="geo_object" type="nts:geo_object_type"/>
			<xs:element name="limitation" type="nts:limitation_type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Geographic object limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
  ==========================================
  = definition of wrm_type,                =
  = used in definition of RIS_Message_Type =
  ==========================================
  -->
	<xs:complexType name="wrm_type">
		<xs:sequence>
			<xs:element name="validity_period" type="nts:validity_period_type" minOccurs="0"/>
			<xs:element name="geo_object" type="nts:geo_object_type"/>
			<xs:element name="reference_code" type="nts:reference_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code of the reference used in the value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measure" type="nts:measure_type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
  ========================================
  = types used in definition of wrm_type =
  ========================================
  -->
	<xs:complexType name="measure_type">
		<xs:sequence>
			<xs:element name="predicted" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Predicted or actual measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measure_code" type="nts:measure_code_enum">
				<xs:annotation>
					<xs:documentation>Kind of water related information the message shows</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Measured or predicted value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="difference" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Difference with previous measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="barrage_code" type="nts:barrage_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status of the barrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regime_code" type="nts:regime_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Applicable regime</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measuredate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date of measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measuretime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Time of measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="measure_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="DIS"/>
			<xs:enumeration value="REG"/>
			<xs:enumeration value="BAR"/>
			<xs:enumeration value="VER"/>
			<xs:enumeration value="LSD"/>
			<xs:enumeration value="WAL"/>
			<xs:enumeration value="NOM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="barrage_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="CLD"/>
			<xs:enumeration value="OPG"/>
			<xs:enumeration value="CLG"/>
			<xs:enumeration value="OPD"/>
			<xs:enumeration value="OPN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regime_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="II"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="NN"/>
			<xs:enumeration value="LO"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
  ==========================================
  = definition of icem_type,               =
  = used in definition of RIS_Message_Type =
  ==========================================
  -->
	<xs:complexType name="icem_type">
		<xs:sequence>
			<xs:element name="validity_period" type="nts:validity_period_type" minOccurs="0"/>
			<xs:element name="fairway_section" type="nts:fairway_section_type"/>
			<xs:element name="ice_condition" type="nts:ice_condition_type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
  =========================================
  = types used in definition of icem_type =
  =========================================
  -->
	<xs:complexType name="ice_condition_type">
		<xs:sequence>
			<xs:element name="measuredate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date of measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measuretime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Time of measurement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ice_condition_code" type="nts:ice_condition_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coded ice condition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ice_accessibility_code" type="nts:ice_accessibility_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coded accessibility</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ice_classification_code" type="nts:ice_classification_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coded classification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ice_situation_code" type="nts:ice_situation_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coded situation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ice_condition_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ice_accessibility_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ice_classification_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ice_situation_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="NOL"/>
			<xs:enumeration value="LIM"/>
			<xs:enumeration value="NON"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
  ===========================================
  = definition of werm_type,                =
  = used in definition of RIS_Message_Type  =
  ===========================================
  -->
	<xs:complexType name="werm_type">
		<xs:sequence>
			<xs:element name="validity_period" type="nts:validity_period_type"/>
			<xs:element name="fairway_section" type="nts:fairway_section_werm_type"/>
			<xs:element name="weather_report" type="nts:weather_report_type" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Actual or Forecast report sections</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
  =========================================
  = types used in definition of werm_type =
  =========================================
  -->
	<xs:complexType name="fairway_section_werm_type">
		<xs:sequence>
			<xs:element name="geo_object" type="nts:geo_object_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="weather_report_type">
		<xs:sequence>
			<xs:element name="forecast" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Forecast (true) OR Actual report (false)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weather_class_code" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Classification of weather report</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="weather_item" type="nts:weather_item_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="weather_item_type">
		<xs:sequence>
			<xs:element name="weather_item_code">
				<xs:annotation>
					<xs:documentation>Weather item: Wind, Wave, Visibility, Rain, Snow, Airtemp, Watertemp</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="value_min" type="xs:float">
				<xs:annotation>
					<xs:documentation>Actual value or min value. Units depending on item type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value_max" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Max value units depending on itemtype</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value_gusts" type="xs:float" minOccurs="0"/>
			<xs:element name="weather_category_code" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="direction_code_min" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="direction_code_max" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
  =====================================
  = types used in several definitions =
  =====================================
  -->
	<xs:complexType name="validity_period_type">
		<xs:sequence>
			<xs:element name="date_start" type="xs:date">
				<xs:annotation>
					<xs:documentation>Start date of the validity period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_end" type="xs:date">
				<xs:annotation>
					<xs:documentation>End date of the validity period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fairway_section_type">
		<xs:sequence>
			<xs:element name="geo_object" type="nts:geo_object_type"/>
			<xs:element name="limitation" type="nts:limitation_type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Waterway limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geo_object_type">
		<xs:sequence>
			<xs:element name="id" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Unique identification of the geo object, country specific</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the geo object (local)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type_code" type="nts:type_code_enum" default="FWY">
				<xs:annotation>
					<xs:documentation>Type code of the geo object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordinate" type="nts:coordinate_type" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Fairway begin and end coordinates</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="type_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="RIV"/>
			<xs:enumeration value="CAN"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="FWY"/>
			<xs:enumeration value="LCK"/>
			<xs:enumeration value="BRI"/>
			<xs:enumeration value="RMP"/>
			<xs:enumeration value="BAR"/>
			<xs:enumeration value="BNK"/>
			<xs:enumeration value="GAU"/>
			<xs:enumeration value="BUO"/>
			<xs:enumeration value="BEA"/>
			<xs:enumeration value="ANC"/>
			<xs:enumeration value="BER"/>
			<xs:enumeration value="MOO"/>
			<xs:enumeration value="TER"/>
			<xs:enumeration value="HAR"/>
			<xs:enumeration value="FDO"/>
			<xs:enumeration value="CAB"/>
			<xs:enumeration value="FER"/>
			<xs:enumeration value="PIP"/>
			<xs:enumeration value="PPO"/>
			<xs:enumeration value="HFA"/>
			<xs:enumeration value="HMO"/>
			<xs:enumeration value="SHY"/>
			<xs:enumeration value="REF"/>
			<xs:enumeration value="MAR"/>
			<xs:enumeration value="LIG"/>
			<xs:enumeration value="SIG"/>
			<xs:enumeration value="TUR"/>
			<xs:enumeration value="CBR"/>
			<xs:enumeration value="TUN"/>
			<xs:enumeration value="BCO"/>
			<xs:enumeration value="REP"/>
			<xs:enumeration value="FLO"/>
			<xs:enumeration value="SLI"/>
			<xs:enumeration value="DUK"/>
			<xs:enumeration value="VTC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="coordinate_type">
		<xs:sequence>
			<xs:element name="lat">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="12"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="long">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="12"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="limitation_type">
		<xs:sequence>
			<xs:element name="limitation_period" type="nts:limitation_period_type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Limitation periods / intervals</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="limitation_code" type="nts:limitation_code_enum">
				<xs:annotation>
					<xs:documentation>Limitation code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position_code" type="nts:position_code_enum" default="AL">
				<xs:annotation>
					<xs:documentation>Side of the fairway</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:float" minOccurs="0"/>
			<xs:element name="reference_code" type="nts:reference_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code of the reference used in the value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indication_code" type="nts:indication_code_enum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="limitation_period_type">
		<xs:sequence>
			<xs:element name="date_start" type="xs:date">
				<xs:annotation>
					<xs:documentation>Starting date of limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_end" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending date of limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_start" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting time of limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_end" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending time of limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interval_code" type="nts:interval_code_enum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interval code of limitation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="interval_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="CON"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="WRK"/>
			<xs:enumeration value="WKN"/>
			<xs:enumeration value="SUN"/>
			<xs:enumeration value="MON"/>
			<xs:enumeration value="TUE"/>
			<xs:enumeration value="WED"/>
			<xs:enumeration value="THU"/>
			<xs:enumeration value="FRI"/>
			<xs:enumeration value="SAT"/>
			<xs:enumeration value="DTI"/>
			<xs:enumeration value="NTI"/>
			<xs:enumeration value="RVI"/>
			<xs:enumeration value="EXC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="limitation_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:enumeration value="OBSTRU"/>
			<xs:enumeration value="PAROBS"/>
			<xs:enumeration value="DELAY"/>
			<xs:enumeration value="VESLEN"/>
			<xs:enumeration value="VESHEI"/>
			<xs:enumeration value="VESBRE"/>
			<xs:enumeration value="VESDRA"/>
			<xs:enumeration value="AVALEN"/>
			<xs:enumeration value="CLEHEI"/>
			<xs:enumeration value="CLEWID"/>
			<xs:enumeration value="AVADEP"/>
			<xs:enumeration value="NOMOOR"/>
			<xs:enumeration value="SERVIC"/>
			<xs:enumeration value="NOSERV"/>
			<xs:enumeration value="SPEED"/>
			<xs:enumeration value="WAVWAS"/>
			<xs:enumeration value="PASSIN"/>
			<xs:enumeration value="ANCHOR"/>
			<xs:enumeration value="OVRTAK"/>
			<xs:enumeration value="MINPWR"/>
			<xs:enumeration value="ALTER"/>
			<xs:enumeration value="CAUTIO"/>
			<xs:enumeration value="NOLIM"/>
			<xs:enumeration value="TURNIN"/>
			<xs:enumeration value="NOSHORE"/>
			<xs:enumeration value="CONBRE"/>
			<xs:enumeration value="CONLEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="position_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="LE"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="RB"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="SW"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="OL"/>
			<xs:enumeration value="EW"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="FP"/>
			<xs:enumeration value="VA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reference_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:enumeration value="NAP"/>
			<xs:enumeration value="KP"/>
			<xs:enumeration value="FZP"/>
			<xs:enumeration value="ADR"/>
			<xs:enumeration value="TAW"/>
			<xs:enumeration value="PUL"/>
			<xs:enumeration value="NGM"/>
			<xs:enumeration value="ETRS"/>
			<xs:enumeration value="POT"/>
			<xs:enumeration value="LDC"/>
			<xs:enumeration value="HDC"/>
			<xs:enumeration value="ZPG"/>
			<xs:enumeration value="GLW"/>
			<xs:enumeration value="HSW"/>
			<xs:enumeration value="LNW"/>
			<xs:enumeration value="HNW"/>
			<xs:enumeration value="IGN"/>
			<xs:enumeration value="WGS"/>
			<xs:enumeration value="RN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indication_code_enum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:enumeration value="MAX"/>
			<xs:enumeration value="MIN"/>
			<xs:enumeration value="RED"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
